body,
h1,
h2,
p,
ul {
  margin: 0;
  padding: 0;
}


body {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: skyblue;
  color: white;
}





header {
  background-color: skyblue;
  color: white;
  padding: 20px;
}

header h1 {
  margin: 0;
  font-size: 24px;
}



nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  background-color: skyblue;
  padding: 10px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 10px;
}


main {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

main article {
  flex: 2;
  margin-right: 20px;
}

main article h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

main article p {
  margin-bottom: 20px;
}

main aside {
  flex: 1;
}



footer {
  background-color: skyblue;
  color: white;
  padding: 20px;
  text-align: center;
}

footer p {
  margin: 0;
}


@media screen and (max-width: 600px) {
  main article {
    margin-right: 0;
    margin-bottom: 20px;
  }

  main aside {
    flex: none;
  }
}